body{
    background:  #b3ecff;
}


.players{
    display: flex;
    justify-content: center;
    padding: 4em;
    
}

.player{
    font-family: 'Quicksand', sans-serif;
    font-size: 3rem;
    color: #003b4d;
    border: 1px solid #002733; 
    padding: 1rem;
    background: #f3f3f3;
    display: flex;
    justify-content: space-between;
    width: 20rem;
    margin: 0.5rem;
    margin-bottom: 0.1rem;
}

.tab{
    width: 30%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    background: #f3f3f3;
}

td{
    border: 2px solid #060439;
    width: 33.33%;
    padding-bottom: 33.33%;
    height: 0;
    position: relative;
    border-collapse: collapse;
}

td:hover{
    background: #f1f9f9; 
}


.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    font-family: 'Montserrat', sans-serif;
    /* min-height: 100%;
    min-width: 100%; */
}

button{
    font-family: 'Montserrat', sans-serif;
    background: #4caf50;
    font-weight: 700;
    border: none;
    border-radius: 2px;
    width: 8rem;
    height: 3rem;
    margin-top: 2.5rem;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
}

button:focus {outline:0;}

#winner{
    font-family: 'Quicksand', sans-serif;
    font-size: 3rem;
    text-align: center;
    position: relative;
    top: 5rem;
}